body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  margin-top: 3.5625rem; }

.content {
  min-width: 100vw; }
  @media (min-width: 48em) {
    .content {
      min-width: 0;
      width: 100%; } }
  .content-box {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 0.1875rem;
    font-size: 0.875rem; }

.sidebar {
  transition: margin 0.15s ease-out;
  min-height: calc(100vh - 3.5625rem);
  margin-left: -17rem;
  border-top-right-radius: 0.1875rem; }
  @media (min-width: 48em) {
    .sidebar {
      margin-left: 0; } }
  .sidebar-menu {
    width: 17rem; }

.navbar-link {
  margin-left: 0.1875rem; }
.navbar-sidebar-bars {
  transition: 0.2s all;
  font-size: 0.875rem;
  margin-left: 0.25rem; }

.dropdown {
  margin-left: auto; }
  .dropdown-menu {
    padding: 0.125rem;
    top: 2.875rem; }
  .dropdown-avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.3125rem; }
  .dropdown-user {
    font-weight: 600;
    display: block;
    float: left;
    font-size: 0.875rem;
    margin: 0.5rem 0.5rem 0 0; }

.dropdown-employ:before {
  font-family: "FontAwesome";
  content: "\f175";
  float: right;
  margin: 0.625rem 0 0 0.625rem;
  font-size: 0.875rem; }

.dropdown-item {
  font-size: 0.875rem;
  padding: 0.3125rem 0.625rem; }
  .dropdown-item:hover {
    border-radius: 0.1875rem; }

.list {
  max-height: 80vh;
  font-size: 0.875rem;
  padding: 0 1.25rem; }
  .list-item, .list-ml-item {
    padding: 0;
    margin-top: 0.625rem;
    line-height: 2.125rem; }
  .list-name {
    text-transform: uppercase;
    font-size: 0.75rem; }

.list-ml {
  overflow: hidden;
  padding: 0; }
  .list-ml-item {
    margin: 0; }
  .list-ml-none {
    display: none;
    margin: 0.9375rem 0 0.9375rem 0.625rem;
    padding-left: 0.625rem; }

.list-link {
  display: block;
  margin-bottom: 0.125rem;
  padding: 0 0.625rem; }
  .list-link .fa {
    margin-right: 0.625rem; }
  .list-link:hover {
    text-decoration: none;
    border-radius: 0.1875rem; }
    .list-link:hover .fa {
      transform: rotate(360deg);
      transition: 0.5s all; }

.link-arrow:before {
  float: right;
  font-family: "FontAwesome";
  margin: 0 0.1875rem 0 0; }
.link-arrow.up:before {
  content: "\f106"; }
.link-arrow.down:before {
  content: "\f107"; }
.link-arrow.transition:before {
  transition: 0.2s all; }
.link-arrow.rotate:before {
  transform: rotate(180deg); }
.link-arrow.rotate-revert:before {
  transform: rotate(-180deg); }

.list-scrollbar {
  position: relative;
  overflow: hidden; }

.ps__thumb-y {
  width: 0.3125rem; }

.ps__rail-y {
  margin-top: 0.0625rem; }

.ps__rail-y:hover .ps__thumb-y,
.ps__rail-y:focus .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 0.3125rem; }

.toggle-sidebar .sidebar {
  margin-left: 0; }
  @media (min-width: 48em) {
    .toggle-sidebar .sidebar {
      margin-left: -17rem; } }

.nanobar {
  top: 0;
  width: 100%;
  z-index: 9999;
  height: 0.125rem; }

.nanobar .bar {
  height: 100%;
  transition: height 0.3s;
  width: 0; }

body {
  background: whitesmoke;
  color: #4d4d4d; }

.sidebar-light {
  background: white; }

.navbar-sidebar-bars {
  color: #cccccc; }
  .navbar-sidebar-bars:hover {
    color: #4d4d4d; }

.navbar-link {
  color: #4d4d4d; }
  .navbar-link:hover {
    color: #4d4d4d; }

.dropdown-light {
  background: whitesmoke; }
  .dropdown-light .dropdown-item {
    color: #4d4d4d; }
    .dropdown-light .dropdown-item:hover {
      background: white; }

.dropdown-link {
  color: #4d4d4d; }
  .dropdown-link:hover {
    color: #4d4d4d; }

.dropdown-employ:before {
  color: #cccccc; }

.list-link {
  color: #4d4d4d; }
  .list-link-current {
    background: whitesmoke; }
  .list-link:hover {
    background: whitesmoke;
    color: #4d4d4d; }
    .list-link:hover .fa {
      color: #4d4d4d; }

.list-link .fa {
  color: #cccccc; }

.list-name {
  color: gray; }

.link-arrow:before {
  color: #cccccc; }

.link-arrow.active:before {
  color: #4d4d4d; }

.ps__thumb-y {
  background: #e6e6e6; }

.ps__rail-y:hover .ps__thumb-y,
.ps__rail-y:focus .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background: #e6e6e6; }

.ps .ps__rail-y:hover,
.ps .ps__rail-y:focus,
.ps .ps__rail-y.ps--clicking {
  background: none; }

.nanobar .bar {
  background: #333333; }

/*# sourceMappingURL=sidebar.css.map */
