
/* light color for responsive menu, author Zdeněk Papučík
   ========================================================================== */
.bg-white.sidebar .title {
    color: #494949;
    font-weight: 600;
}

.bg-white.sidebar ul.menu li {
    color: #8a8a8a;
}

.bg-white.sidebar ul.menu li ul li a {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #494949;
}

.bg-white.sidebar ul.menu li ul li a:hover {
    background: #f4f4f4;

}

.bg-white.sidebar ul.menu li ul li a.current {
    background: #f4f4f4;
}

.bg-white.sidebar ul.menu li ul li.parent a.current {
    background: #f4f4f4;
}

.bg-white.sidebar ul.menu li ul li.parent .submenu a.current {
    background: #f4f4f4;
}

.bg-white.sidebar ul.menu li ul li.parent a.employ:before {
    color: #b9b9b9;
}

.bg-white.sidebar ul.menu li ul li.parent a.employ.active:before {
    color: #494949;
}

.bg-white.sidebar ul.menu li ul li ul {
    border-left: 2px solid #ebebeb;
}

/* perfect scrollbar
   ========================================================================== */
.bg-white.sidebar .ps__thumb-y {
    background: #e0e0e0;
}

.bg-white.sidebar .ps__rail-y:hover > .bg-white.sidebar .ps__thumb-y,
.bg-white.sidebar .ps__rail-y:focus > .bg-white.sidebar .ps__thumb-y,
.bg-white.sidebar .ps__rail-y.ps--clicking .ps__thumb-y {
    background: #e0e0e0;
}

.bg-white.sidebar .ps .ps__rail-y:hover,
.bg-white.sidebar .ps .ps__rail-y:focus,
.bg-white.sidebar .ps .ps__rail-y.ps--clicking {
    background: none;
}

/* dark color for responsive menu, author Zdeněk Papučík
   ========================================================================== */
.bg-dark.sidebar .title {
    border-bottom: 1px #2e3543 solid;
    color: #fff;
    font-weight: 600;
}

.bg-dark.sidebar ul.menu li {
    color: #b5bac3;
}

.bg-dark.sidebar ul.menu li ul li a {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #eaedf1;
}

.bg-dark.sidebar ul.menu li ul li a:hover {
    background: #363c49;

}

.bg-dark.sidebar ul.menu li ul li a.current {
    background: #363c49;
}

.bg-dark.sidebar ul.menu li ul li.parent a.current {
    background: #363c49;
}

.bg-dark.sidebar ul.menu li ul li.parent .submenu a.current {
    background: #363c49;
}

.bg-dark.sidebar ul.menu li ul li.parent a.employ:before {
    color: #6b7382;
}

.bg-dark.sidebar ul.menu li ul li.parent a.employ.active:before {
    color: #b9b9b9;
}

.bg-dark.sidebar ul.menu li ul li ul {
    border-left: 2px solid #363c49;
}

/* perfect scrollbar
   ========================================================================== */
.bg-dark.sidebar .ps__thumb-y {
    background: #586173;
}

.bg-dark.sidebar .ps__rail-y:hover > .bg-dark.sidebar .ps__thumb-y,
.bg-dark.sidebar .ps__rail-y:focus > .bg-dark.sidebar .ps__thumb-y,
.bg-dark.sidebar .ps__rail-y.ps--clicking .ps__thumb-y {
    background: #586173;
}

.bg-dark.sidebar .ps .ps__rail-y:hover,
.bg-dark.sidebar .ps .ps__rail-y:focus,
.bg-dark.sidebar .ps .ps__rail-y.ps--clicking {
    background: none;
}
