
// dropdown menu
// -----------------------------------------------------------------------------
.dropdown {
    margin-left: auto;
    &-employ {
	&:before {
	    font-family: $font-family-awesome;
	    margin-left: size(10);
	    content: "\f175";
	    float: right;
	    margin-top: size(8);
	    font-size: $font-14;
	}
	&:hover {
	    text-decoration: none;
	}
    }
    &-menu {
	padding: 0;
	top: size(46);
    }
    &-avatar {
	border-radius: 50%;
	width: size(36);
	height: size(36);
	margin-right: size(10);
    }
    &-user {
	font-size: $font-14;
	font-weight: 600;
    }
}

.dropdown {
    &-employ {
	&:before {
	    @include color(color, d, #fff, 20);
	}
    }
    &-menu {
	@include color(bg, d, #fff, 4);
    }
    &-user {
	@include color(color, d, #fff, 72);
    }
}