
// layout sidebar
// -----------------------------------------------------------------------------
.sidebar {
    min-height: calc(100vh - #{size(57)});
    transition: margin 0.15s ease-out;
    border-top-right-radius: $radius;
    margin-left: - $sidebar;
    &-menu {
	width: $sidebar;
    }
    @media (min-width: $medium) {
	margin-left: 0;
    }
}

// layout content
// -----------------------------------------------------------------------------
.content {
    min-width: 100vw;
    &-box {
	padding: size(20);
	margin-bottom: size(20);
	border-radius: $radius;
	font-size: $font-14;
    }
    @media (min-width: $medium) {
	min-width: 0;
	width: 100%;
    }
}

// layout toggle sidebar
// -----------------------------------------------------------------------------
.toggle-sidebar {
    .sidebar {
	margin-left: 0;
	@media (min-width: $medium) {
	    margin-left: - $sidebar;
	}
    }
}
