
// navbar top
// -----------------------------------------------------------------------------
.navbar {
    &-link {
	margin-left: size(3);
    }
    &-sidebar-bars {
	transition: 0.2s all;
	font-size: $font-14;
    }
}