
// variable
// -----------------------------------------------------------------------------
$font-family-sans: 'Open Sans', sans-serif;
$font-family-awesome: 'FontAwesome';

// sidebar size
$sidebar: size(272);

// medium devices (tablets, 768px and up)
$medium: size(768);

// Pre-set border radius to 3px
$radius: size(3);

// font size
$font-12: size(12);
$font-14: size(14);
