
// variable
// -----------------------------------------------------------------------------
$font-family-sans: 'Open Sans', sans-serif;

// sidebar size
$sidebar: 272;

// medium devices (tablets, 768px and up)
$medium: 768;

// color
$white: #fff;
