
// Variables
// -----------------------------------------------------------------------------

// Font family
$font-sans: ('Open Sans', sans-serif);
$font-awesome: 'FontAwesome';

// Sidebar size
$sidebar: 272px;

// Media queries
$mq-breakpoints: (medium: 768px);
