
//
// variables
//

// font family
$font-sans: 'Open Sans', sans-serif;
$font-awesome: 'FontAwesome';

// unit rem
$calc: $spacer * 0.0625;

// font size
$font-size: 14;
$font-size-sm: 12;

// sizes
$sidebar:   $calc * 272;
$nanobar:   $calc * 2;
$scrollbar: $calc * 5;
$avatar:    $calc * 36;
$top:	      $calc * 57;
