
// dropdown
// -----------------------------------------------------------------------------
.dropdown {

    &-avatar {
	border-radius: 50%;
	width: size(36);
	height: size(36);
	margin: - size(6) 0;
	margin-right: size(10);
	float: left;
    }

    &-menu {
	border-radius: size(3);
	padding: 0;
	top: size(40);
	right: 0;
	top: size(40);
    }

    &-employ:before {
	font-family: "FontAwesome";
	content: "\f175";
	float: right;
	margin-left: size(10);
    }

    .fa {
	font-size: size(14);
	min-width: size(22);
    }

}
