
// list
// -----------------------------------------------------------------------------
.list {
    max-height: 80vh;
    padding: 0 size(20);
    font-size: size(14);

    &-item {
	line-height: size(34);
	margin-top: size(10);
	padding: 0;
    }

    &-name {
	font-size: size(12);
	text-transform: uppercase;
    }
}

// list multi-level
// -----------------------------------------------------------------------------
.list-ml {
    overflow: hidden;
    padding: 0;

    &-item {
	@extend .list-item;
	margin: 0;

    }

    &-none {
	display: none;
	margin: size(15) 0 size(15) size(10);
	padding-left: size(10);
    }
}

// list link
// -----------------------------------------------------------------------------
.list-link {
    display: block;
    margin-bottom: size(2);
    padding: 0 size(10);

    .fa {
	margin-right: size(10);
    }

    &:hover {
	text-decoration: none;

	.fa {
	    transform: rotate(360deg);
	    transition: 0.5s all;
	}
    }
}

// list link rotating arrow
// -----------------------------------------------------------------------------
.link-arrow {
    &:before {
	float: right;
	font-family: "FontAwesome";
	margin: 0 size(3) 0 0;
    }

    &.up {
	&:before {
	    content: "\f106";
	}
    }

    &.down {
	&:before {
	    content: "\f107";
	}
    }

    &.transition {
	&:before {
	    transition: 0.2s all;
	}
    }

    &.rotate {
	&:before {
	    transform: rotate(180deg);
	}
	&-revert {
	    &:before {
		transform: rotate(-180deg);
	    }
	}
    }
}
