
// sidebar list light color
// -----------------------------------------------------------------------------
.sidebar-light {
    background: $white;

    .list-name {
	color: darken($white, 45%);
    }

    .list-link {
	color: darken($white, 75%);

	&-current {
	    background: darken($white, 4%);
	}

	.fa {
	    color: darken($white, 18%);
	}

	&:hover {
	    border-radius: size(3);
	    background: darken($white, 4%);

	    .fa {
		color: darken($white, 75%);
	    }
	}
    }

    .link-arrow {
	&:before {
	    color: darken($white, 18%);
	}

	&.active {
	    &:before {
		color: darken($white, 75%)
	    }
	}
    }
}
