
// Content layout
// -----------------------------------------------------------------------------
.content {
    min-width: 100vw;

    @include mq('medium') {
	min-width: 0;
	width: 100%;
    }

    &-box {
	@include rem('padding', 20px);
	@include rem('margin-bottom', 20px);
	@include rem('border-radius', 3px);
	@include rem('font-size', 14px);
    }
}
