
// Sidebar layout
// -----------------------------------------------------------------------------
.sidebar {
    transition: margin 0.15s ease-out;
    min-height: calc(100vh - #{rem(57px)});

    @include rem('margin-left', - $sidebar);
    @include rem('border-top-right-radius', 3px);

    @include mq('medium') {
	margin-left: 0;
    }

    &-menu {
	@include rem('width', $sidebar);
    }
}
