
//
// Navbar dropdown component
//
.dropdown
{
  margin-left: auto;
}

.dropdown-menu
{
  padding: ($calc * 2);
  top: ($calc * 46);
}

.dropdown-user
{
  font-weight: 600;
  display: block;
  float: left;
  margin-top: ($calc * 8);
  margin-right: ($calc * 8);

  @include font-size($font-size);
}

.dropdown-avatar
{
  height: $avatar;
  width: $avatar;

  @include border-radius(50%);
}

//
// Navbar dropdown employ toggle
//
.dropdown-employ:before
{
  font-family: $font-awesome;
  content: "\f175";
  float: right;
  margin-top: ($calc * 8);
  margin-left: ($calc * 8);

  @include font-size($font-size);
}

//
// Navbar dropdown item
//
.dropdown-item
{
  padding: ($calc * 5) ($calc * 10);

  @include font-size($font-size);
  @include hover
  {
    @include border-radius($border-radius);
  }
}

.dropdown-item .fa
{
  transition: 0.5s all;
  padding-right: ($calc * 10);
}
