
// Default theme
// -----------------------------------------------------------------------------

$color: rgb(255, 255, 255);
$theme-colors: (
'body-bg': darken($color, 5),
'body-color': darken($color, 75),

'list-bg-link': darken($color, 5),
'list-bg-link-hover': darken($color, 5),
'list-color-name': darken($color, 50),
'list-color-icon': darken($color, 20),
'list-color-icon-hover': darken($color, 75),
'list-color-icon-arrow': darken($color, 20),
'list-color-icon-arrow-hover': darken($color, 75),
'list-color-link': darken($color, 75),
'list-color-link-hover': darken($color, 75),

'navbar-color-link': darken($color, 75),
'navbar-color-link-hover': darken($color, 75),
'navbar-color-icon-bars': darken($color, 20),
'navbar-color-icon-bars-hover': darken($color, 75),

'dropdown-bg': darken($color, 5),
'dropdown-bg-hover': $color,
'dropdown-color-link': darken($color, 75),
'dropdown-color-link-hover': darken($color, 75),
'dropdown-color-icon': darken($color, 20),
'dropdown-color-item':darken($color, 75),
'dropdown-color-item-hover':darken($color, 75),
'dropdown-color-item-icon':darken($color, 20),
'dropdown-color-item-icon-hover':darken($color, 75),

'sidebar-bg': $color,
'nanobar-bg': darken($color, 75),
'scrollbar-bg': darken($color, 10),
);

// Base elements
// -----------------------------------------------------------------------------
body {
    background: theme-color('body-bg');
    color: theme-color('body-color');
}

// Sidebar layout
// -----------------------------------------------------------------------------
.sidebar-light  {
    background: theme-color('sidebar-bg');
}

// Navbar component
// -----------------------------------------------------------------------------
.navbar-link {
    color: theme-color('navbar-color-link');

    &:hover {
	color: theme-color('navbar-color-link-hover');
    }
}

// Sidebar toggle component
// -----------------------------------------------------------------------------
.navbar-sidebar-bars {
    color: theme-color('navbar-color-icon-bars');

    &:hover {
	color: theme-color('navbar-color-icon-bars-hover');
    }
}

// Navbar dropdown component
// -----------------------------------------------------------------------------
.dropdown-light {
    background: theme-color('dropdown-bg');
}

.dropdown-light .dropdown-item {
    color: theme-color('dropdown-color-item');

    .fa {
	color: theme-color('dropdown-color-item-icon');
    }

    &:hover {
	color: theme-color('dropdown-color-item-hover');
	background: theme-color('dropdown-bg-hover');

	.fa {
	    color: theme-color('dropdown-color-item-icon-hover');
	}
    }
}

.dropdown-link {
    color: theme-color('dropdown-color-link');

    &:hover {
	color: theme-color('dropdown-color-link-hover');
    }
}

.dropdown-employ {

    &:before {
	color: theme-color('dropdown-color-icon');
    }
}

// Sidebar list link
// -----------------------------------------------------------------------------
.sidebar-light .list-link {
    color: theme-color('list-color-link');

    &-current {
	background: theme-color('list-bg-link');
    }

    &:hover {
	background: theme-color('list-bg-link-hover');
	color: theme-color('list-color-link-hover');

	.fa {
	    color: theme-color('list-color-icon-hover');
	}
    }
}

.sidebar-light .list-link .fa {
    color: theme-color('list-color-icon');
}

.sidebar-light .list-name {
    color: theme-color('list-color-name');
}

// Sidebar link arrow
// -----------------------------------------------------------------------------
.sidebar-light .link-arrow:before {
    color: theme-color('list-color-icon-arrow');
}

.sidebar-light .link-arrow.active:before {
    color: theme-color('list-color-icon-arrow-hover');
}

// List custom perfect scrollbar
// -----------------------------------------------------------------------------
.sidebar-light .ps__thumb-y {
    background: theme-color('scrollbar-bg');
}

.sidebar-light .ps__rail-y:hover .ps__thumb-y,
.sidebar-light .ps__rail-y:focus .ps__thumb-y,
.sidebar-light .ps__rail-y.ps--clicking .ps__thumb-y {
    background: theme-color('scrollbar-bg');
}

.ps .ps__rail-y:hover,
.ps .ps__rail-y:focus,
.ps .ps__rail-y.ps--clicking {
    background: none;
}

// Nanobar component
// -----------------------------------------------------------------------------
.nanobar .bar {
    background: theme-color('nanobar-bg')
}
