//
// theme colors
//
$white: rgb(255, 255, 255);
$dark:  rgb(38, 42, 47);
$theme-colors: (
'white-theme': (
  'body-bg':                darken($white, 4.5),
  'body-color':             darken($white, 75),
  'content-bg':             $white,
  'sidebar-bg':             $white,
  'list-color':             darken($white, 35),
  'list-border-color':      darken($white, 5),
  'list-link-color':        darken($white, 75),
  'list-link-bg':           darken($white, 4.5),
  'list-arrow-color':       darken($white, 20),
  'list-arrow-color-o':     darken($white, 40),
  'navbar-link-color':      darken($white, 75),
  'navbar-bars-color':      darken($white, 20),
  'navbar-bars-color-o':    darken($white, 40),
  'dropdown-bg':            darken($white, 5),
  'dropdown-link-o':        $white,
  'dropdown-item':          darken($white, 75),
  'dropdown-icon-color':    darken($white, 20),
  'dropdown-icon-color-o':  darken($white, 75),
  'scrollbar-bg':           darken($white, 10),
  'nanobar-bg':             darken($white, 75),
  ),
'dark-theme': (
  'body-bg':                lighten($dark, 4.5),
  'body-color':             lighten($dark, 75),
  'content-bg':             $dark,
  'sidebar-bg':             $dark,
  'list-color':             lighten($dark, 35),
  'list-border-color':      lighten($dark, 7),
  'list-link-color':        lighten($dark, 75),
  'list-link-bg':           lighten($dark, 4.5),
  'list-arrow-color':       lighten($dark, 20),
  'list-arrow-color-o':     lighten($dark, 40),
  'navbar-link-color':      lighten($dark, 75),
  'navbar-bars-color':      lighten($dark, 20),
  'navbar-bars-color-o':    lighten($dark, 40),
  'dropdown-bg':            lighten($dark, 5),
  'dropdown-link-o':        $dark,
  'dropdown-item':          lighten($white, 75),
  'dropdown-icon-color':    lighten($white, 20),
  'dropdown-icon-color-o':  lighten($white, 75),
  'scrollbar-bg':           lighten($dark, 10),
  'nanobar-bg':             lighten($dark, 75),
  ),
);
