
//
// theme default
//
.body
{
  @each $theme, $map in $theme-colors {
    &-#{$theme} {
      background: map-get($map, body-bg);
      color: map-get($map, body-color);
    }

    .nanobar .bar {
      background: map-get($map, nanobar-bg);
    }
  }
}

.content
{
  @each $theme, $map in $theme-colors {
    &-#{$theme} {
      background: map-get($map, content-bg);
    }
  }
}

.sidebar
{
  @each $theme, $map in $theme-colors {
    &-#{$theme} {
      background: map-get($map, sidebar-bg);
    }

    &-#{$theme} .list-link {
      color: map-get($map, list-link-color);

      &-current {
        background: map-get($map, list-link-bg);
      }

      @include hover {
        background: map-get($map, list-link-bg);

        .fa {
          color: map-get($map, icon-color-o);
        }
      }
    }

    &-#{$theme} .list-link .fa {
      color: map-get($map, icon-color);
    }

    &-#{$theme} .list-name {
      color: map-get($map, list-color);
    }

    .list-ml-none {
      border-left-color: map-get($map, list-border-color);
    }

    &-#{$theme} .link-arrow:before {
      color: map-get($map, icon-color);
    }

    &-#{$theme} .link-arrow.active:before {
      color: map-get($map, icon-color-o);
    }

    &-#{$theme} .ps__thumb-y {
      background: map-get($map, scrollbar-bg);
    }

    &-#{$theme} .ps__rail-y:hover .ps__thumb-y,
    &-#{$theme} .ps__rail-y:focus .ps__thumb-y,
    &-#{$theme} .ps__rail-y.ps--clicking .ps__thumb-y {
      background: map-get($map, scrollbar-bg);
    }

    .ps .ps__rail-y:hover,
    .ps .ps__rail-y:focus,
    .ps .ps__rail-y.ps--clicking {
      background: none;
    }
  }
}

.navbar
{
  @each $theme, $map in $theme-colors {
    &-#{$theme} .navbar-link {
      color: map-get($map, navbar-link-color);
    }

    &-#{$theme} .navbar-bars {
      color: map-get($map, navbar-bars-color);
      @include hover {
        color: map-get($map, navbar-bars-color-o);
      }
    }
  }
}

.dropdown
{
  @each $theme, $map in $theme-colors {
    &-#{$theme} .dropdown-menu {
      background: map-get($map, dropdown-bg);
    }

    &-#{$theme} .dropdown-item,
    &-#{$theme} .dropdown-link {
      color: map-get($map, navbar-link-color);

      .fa {
        color: map-get($map, icon-color);
      }
    }

    &-#{$theme} .dropdown-item {
      @include hover {
        background: map-get($map, dropdown-link-o);
      }
    }

    &-#{$theme} .dropdown-employ:before {
      color: map-get($map, icon-color);
    }
  }
}
