
// Base elements
// -----------------------------------------------------------------------------

// Element body
body {
    overflow-x: hidden;
    margin-top: $top;
    font-family: $font-sans;
}
